::selection{
    color: #000;
    background: #fff;
  }
  nav{
    position: fixed;
    background: whitesmoke;
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu .logo a{
    text-decoration: none;
    color: #CDA274;
    ;
    font-size: 35px;
    font-weight: 600;
  }
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: black;
    
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background:#CDA274;
    color: black;
  }
  .img{
    /* background: url('/AssignmentWeb/Assets/Images/image_background.jpg')no-repeat; */
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  .center{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
  .center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
  }
  .center .sub_title{
    color: #fff;
    font-size: 52px;
    font-weight: 600;
  }
  .center .btns{
    margin-top: 20px;
  }
  .center .btns button{
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
  }
  .center .btns button:first-child{
    color: #fff;
    background: none;
  }
  .btns button:first-child:hover{
    background: white;
    color: black;
  }
  .center .btns button:last-child{
    background: white;
    color: black;
  }
  * {box-sizing: border-box;}
  body {
  background-color: #0e1119;
}
  .mySlides {display: none;}
  img {vertical-align: middle;}
/* test mẫu */
.container-slides{
  height: 450px;
  max-width: 100%;
  background-color: red;
 }
 .container-heading{
  width: 100%;
  height: 500px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .wrap-heading-1{
  width: 500px;
  height: 100px;
  background-color: black;
 }
 .wrap-content-text{
  width: 500px;
  height: 100px;
  background-color: #fff;
 }
 .wrap-buttons{
  width: 500px;
  height: 100px;
  background-color: yellow;
 }
 .container-features{
  width: 90%;
  margin: 0 5%;
 }
 .container-content{
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
 }
 .container-content>.wrap-content-video{
  width: 40%;
  height: 100%;
  background-color: yellow;
 }
 .container-content>.wrap-content-text{
  width: 40%;
  height: 100%;
  background-color: red;
 }
 .wrap-NoiDungKhoaHoc-feature{
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
 }
 .wrap-NoiDungKhoaHoc-feature>.image-NoiDungKhoaHoc{
  width: 40%;
  height: 100%;
  background-color: slateblue;
 }
 .wrap-NoiDungKhoaHoc-feature>.text-NoiDungKhoaHoc{
  width: 40%;
  height: 100%;
  background-color: orchid;
 }
 .wrap-DiemKhaBiet-feature{
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
 }
 .wrap-DiemKhaBiet-feature>.text-DiemKhacBiet{
  height: 100%;
  width: 40%;
  background-color: red;
 }
 .wrap-DiemKhaBiet-feature>.image-DiemKhacBiet{
  height: 100%;
  width: 40%;
  background-color: yellow;
 }
 .wrap-ThongSoKiThuat-feature{
  height: 500px;
  background-color: white;
  display: flex;
  justify-content: space-between;
 }
 .wrap-ThongSoKiThuat-feature>.image-ThongSoKiThuat{
  height: 100%;
  width: 40%;
  background-color: skyblue;
 }
 .wrap-ThongSoKiThuat-feature>.text-ThongSoKiThuat{
  height: 100%;
  width: 40%;
  background-color: goldenrod;
 }
 .footer-page{
  width: 100%;
  height: 200px;
  background-color: orangered;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }
 .footer-page>.icons-footer{
  width: 10%;
  height: 80%;
  background-color: blueviolet;
 }
 .footer-page>.footer-content-1{
  width: 10%;
  height: 80%;
  background-color: burlywood;
 }
 .footer-page>.footer-content-2{
  width: 10%;
  height: 80%;
  background-color: yellow;
}
.footer-page>.footer-content-3{
  width: 10%;
  height: 80%;
  background-color: black;
}
/* test mẫu */


/* Slideshow container */
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
padding-top: 100px;
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.text {font-size: 11px}
}       